@media(min-width:1024px){

}

/* -----------------tablet------------------ */

@media (max-width:1023px)and(min-width:768px){

}

/* -------------------mobile----------------------- */

@media (max-width:767px){

}