*{
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    }

    body{
        font-size: 1.6rem;
        font-family: serif;
        height: 100vh;
    }

    :root{
        --greeen_color_1:#c2efd4;
        --green_color_2:#267144;
        --green_color_3:#267D49;
        --green_color_4:#224F34;
        --green_color_5:#10FF70;
    }
/* --------haeder---------- */

.header{
    background-color: var(--greeen_color_1);
    
}

    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .menu{
        display: flex;
        margin-top: 0.5rem;
        margin-bottom: 1.9rem;
       justify-content: center;
        align-items: center;

    }

    .menu-header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        font-size: 1rem;
        margin-top: 1.6rem;
        color: var(--green_color_4);
    }
   
    

    .bag-icon{
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 10rem;
        margin-bottom: 0.3rem;
        
        
    }

    .login-header{
        margin-bottom: 0.2rem;
        margin-left: 5rem;
    }

    .login{
        background-color: var(--greeen_color_1);
       padding: 0.8rem 2rem;
       color: var(--green_color_4);
       border-color: #224F34;
       font-size: 1rem;
    }

    /* --------main---------- */

    .main{
        display: flex;
        justify-content: space-around;
        margin-top: rem;
        background-color: var(--greeen_color_1);
    }
    
    .main-left{
        margin-top: 2rem;
    }

    .text-main{
        width: 18rem;
        height: 3rem;
        margin-bottom: 7rem;
        color: var(--green_color_4);
        font-size: 2.5rem;
        font-weight:550;
    }

    .text-p{
        width: 22rem;
        color: var(--green_color_3);
        font-weight: 300;
    }

    .btn-explore{
        margin-top: 4rem;
        background-color: var(--green_color_4);
        color: #fff;
        padding: 0.8rem 2rem;
        border-radius: 4px;
        cursor: pointer;
    }

    .main-right{
        margin-top: 2rem;
    }

    .image-thumbnail{
        background-color: var(--green_color_3);
        border-radius: 30% 5% 30% 10%;
       object-fit: cover;
       height: 25rem;
    }

    /* -----------main 2---------- */

    .main-2{
        background-color: #fff;
        margin-top: 3rem;
    }

    .text-main2{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--green_color_4);
        font-size: 4rem;
    }

    .p-main2{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--green_color_4);
        margin-top: 3rem;
    }

    .picture-main-2{
        display: flex;
        margin-top: 3rem;
        justify-content: space-around;
    }
    

    .image-item-main-2{
        background-color: var(--greeen_color_1);
    }

    .money-all{
        justify-content: center;
        margin-top: 2rem;
        
    }

    .p-item{
    margin-left: 4rem;
   
    }

    .tach{
        width: 0.1rem;
        height: 2rem;
        background-color: black;
    }

    .money{
        display: flex;
        gap: 5rem;
        justify-content: center;
        margin-top: 2rem;
    }

    .button-see{
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .see{
        display: flex;
        justify-content: center;
        background-color: white;
        color: #224F34;
    }