*{
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    }

    body{
        font-size: 1.6rem;
        font-family: serif;
        height: 100vh;
    }

    :root{
        --greeen_color_1:#c2efd4;
        --green_color_2:#267144;
        --green_color_3:#267D49;
        --green_color_4:#224F34;
        --green_color_5:#10FF70;
    }
/* --------haeder---------- */

.header{
    background-color: var(--greeen_color_1);
    
}

    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .menu{
        display: flex;
        margin-top: 0.5rem;
        margin-bottom: 1.9rem;
       justify-content: center;
        align-items: center;

    }

    .menu-header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        font-size: 1rem;
        margin-top: 1.6rem;
        color: var(--green_color_4);
    }
   
    

    .bag-icon{
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 10rem;
        margin-bottom: 0.3rem;
        
        
    }

    .login-header{
        margin-bottom: 0.2rem;
        margin-left: 5rem;
    }

    .login{
        background-color: var(--greeen_color_1);
       padding: 0.8rem 2rem;
       color: var(--green_color_4);
       border-color: #224F34;
       font-size: 1rem;
    }

    /* --------main---------- */

    .main{
        display: flex;
        justify-content: space-around;
        background-color: var(--greeen_color_1);
    }
    
    .main-left{
        margin-top: 2rem;
    }

    .text-main{
        width: 18rem;
        height: 3rem;
        margin-bottom: 7rem;
        color: var(--green_color_4);
        font-size: 2.5rem;
        font-weight:550;
    }

    .text-p{
        width: 22rem;
        color: var(--green_color_3);
        font-weight: 300;
    }

    .btn-explore{
        margin-top: 4rem;
        background-color: var(--green_color_4);
        color: #fff;
        padding: 0.8rem 2rem;
        border-radius: 4px;
        cursor: pointer;
    }

    .main-right{
        margin-top: 2rem;
    }

    .image-thumbnail{
        background-color: var(--green_color_3);
        border-radius: 30% 5% 30% 10%;
       object-fit: cover;
       height: 25rem;
       margin-bottom: 4rem;
    }

    /* -----------main 2---------- */

    .main-2{
        background-color: #fff;
        margin-top: 3rem;
    }

    .text-main2{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--green_color_4);
        font-size: 4rem;
    }

    .p-main2{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--green_color_4);
        margin-top: 3rem;
    }

    .picture-main-2{
        display: flex;
        margin-top: 3rem;
        justify-content: space-around;
    }
    

    .image-item-main-2{
        background-color: var(--greeen_color_1);
    }

    .money-all{
        justify-content: center;
        margin-top: 2rem;
        
    }

    .p-item{
    margin-left: 4rem;
   
    }

    .tach{
        width: 0.1rem;
        height: 2rem;
        background-color: black;
    }

    .money{
        display: flex;
        gap: 5rem;
        justify-content: center;
        margin-top: 2rem;
    }

    .button-see{
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .button-see{
        display: flex;
        justify-content: center;
        background-color: white;
        color: #224F34;
        width: 12rem;
        height: 3rem;
        margin-top: 2rem;
        padding: 1rem 1rem;
        font-size: 1rem;
    }

    /* ---------main 3 product----------- */

    .main-product{
       margin-top: 3rem;
    }

    .text-product{
        display: flex;
        justify-content: center;
        color: var(--green_color_4);
        font-size: 3rem;
    }

    .menu-product{
        display: flex;
        justify-content: center;
    }

    .menu-product-btn{
        display: flex;
        gap: 3rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    /* ---------------picture main3------------- */

    .picture-main3-product{
        display: flex;
       justify-content: space-around;
       gap: 0.5rem;
       margin-bottom: 3rem;
    }

    .text-picture-product{
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
    }

    .money-product{
        display: flex;
   font-size: 1.4rem;
   justify-content: space-around;
   margin-top: 1rem;
}

/* ------------picture main 3 row 2--------------- */
.picture-green{
    background-color: var(--greeen_color_1);
    display: flex;
    margin: 1rem 1rem;
    gap: 2rem;
    justify-content: space-around;
}

.green-right{
    margin-top: 3rem;
    display:block;
}

.text-green-right{
    color: var(--green_color_4);
    font-size: 3rem;
}
.p-green-right{
    color: var(--green_color_2);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.block-white{
    display: flex;
    gap: 2rem;
}

.block1{
    height: 5rem;
    width: 5rem;
    background-color: #fff;
    color: var(--green_color_4);
    display: block;
    padding: 1rem 1rem;
}

.number{
    display: flex;
    justify-content: space-around;
}

.text-number{
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
}

.buy{
    background-color: var(--green_color_4);
    color: #fff;
    width: 12rem;
    height: 3rem;
    margin-top: 2rem;
}

/* -------------------------------design------------------------ */

.text-design{
    color: var(--green_color_4);
    margin-top: 6rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    margin-left: 2rem;
}

.p-design{
    color: var(--green_color_4);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.img-design{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}

.img1-design-btn{
    height: 566px;
    width: 430px;
background-color: var(--greeen_color_1);
}

.text-picture-design{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 3rem;
}

.p-picture-design{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.feedback{
    color: var(--green_color_4);
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.cmt-feedback{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 5rem;
}

.cmt{
    padding: 1rem;
}

.cmt:hover{
    background-color: var(--greeen_color_1);
}

.ctm-btn{
    color: var(--green_color_4);
}

.button-go{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.go{
    height: 3rem;
    width: 3rem;
    background-color: #fff;
    color: var(--green_color_4);
    padding: 1rem;
    border-radius: 3px;
}

.go:hover{
    background-color: var(--greeen_color_1);
}

/* -------------------------footer----------------- */

.footer{
    background-color: var(--green_color_4);
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 4rem;
    line-height: 3rem;
}

.text-footer{
    color: #fff;
}

.text-center-footer{
    color: #fff;
    display:grid;
grid-row: 3rem;
}

.footer-icon-right{
    color: #fff;
    font-family: Arial, sans-serif;
}
.footer-icon-right h4 {
margin-bottom: 10px;
letter-spacing: 1px;
}

.footer-icon-right form{
    display: flex;
    align-items: stretch;
}

.footer-icon-right input{
    padding: 10px 20px;
    border: 1px solid var(--greeen_color_1);
    background: transparent;
    color: #fff;
    outline: none;
    flex: 1;
    border-right: none;
}

.footer-icon-right input::placeholder{
color: #ccc;
}

.footer-icon-right button{
background-color: var(--greeen_color_1);
color: var(--green_color_4);
border: none;
padding: 10px 20px;
margin-right: 1rem;
border-left: none;
font-weight: bolder;
cursor: pointer;
transition: background 0,3s;
}

.footer-icon-right button:hover{
    background-color: #a4fca4;
}

.footer-line{
    display: flex;
    background-color: var(--green_color_4);
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 1rem;
}

.line{
    height: 1px;
    width: 45rem;
    background-color: var(--greeen_color_1);

}

.text-line{
    display: flex;
    gap: 1rem;
    color: #fff;
    margin-right: 0,5rem;
    margin-left: -7rem;
}